/*=============== REUSABLE CSS CLASSES ===============*/
.container{
   max-width: 1120px;
   margin-inline: 1.5rem;
}

.grid{
   display: grid;
   gap: 1.5rem;
}

.section{
   padding-block: 5rem 1rem;

   &__title,
   &__subtitle{
      text-align: center;
   }
   &__title{
      font-size: var(--h1-font-size);
      font-weight: var(--font-extra-bold);
      color: var(--black-color);
      margin-bottom: 3rem;
   }
   &__subtitle{
      display: block;
      font-size: var(--small-font-size);
      font-weight: var(--font-semi-bold);
      color: var(--text-color);
      margin-bottom: .5rem;
   }
}

.main{
   overflow: hidden;
}
